/* PAINEL  ===Início===*/
#painel{
   
    margin-top: 20px;
}
#painel div{
    text-align: center;
}
.card-panel{
    height: fit-content;
    border-radius: 20px;
}
#painel div img{
    width: 100%;
    border: 5px solid white;
}
#painel div p{
    font-size: 0.9rem;
    margin-top: 10px;
    padding: 0;
}
#painel div p a{
    font-size: 0.95rem;
    color: black;
    font-style: italic;
}
#painel .botaoresponder{
    background-color: #F7B733;
    align-self: center;
    padding: 0;
    margin: 0;
    
}

#painel .modal{
    font-size: 1rem;
    overflow-x:hidden;
    overflow-y:hidden;
}
#painel form .formpainel{
    padding: 20px;
    font-size: 1rem;
}
#painel .formpainel p{
    font-size: 1.1rem;
}
#painel .formpainel #tituloanuncio{
    margin-top: 20px;
}
#painel .modal .modal-content{
    overflow-x:hidden;
    overflow-y:hidden;
}
#painel .formpainel .input-field input[type=text]:focus + label {
    color: #DFDCE3;
}
#painel .formpainel .input-field textarea:focus + label {
    color: #DFDCE3;
}
#painel .formpainel .input-field input[type=text]:focus {
    border-bottom: 1px solid #F7B733;
    box-shadow: 0 1px 0 0 rgb(209, 207, 207);
}#painel .formpainel .input-field textarea:focus {
    border-bottom: 1px solid #F7B733;
    box-shadow: 0 1px 0 0 rgb(209, 207, 207);
}
#painel .formpainel .input-field input[type=text].valid {
    border-bottom: 1px solid #4ABDAC;
    box-shadow: 0 1px 0 0 rgb(209, 207, 207);
}
#painel .formpainel .input-field input[type=text].invalid {
    border-bottom: 1px solid #FC4A1A;
    box-shadow: 0 1px 0 0 rgb(209, 207, 207);
}

#painel .modal-footer{
    width: 95%;
    border: none;
    margin: 20px 0 0 0;
    padding: 0;
}
/* PAINEL ===Fim===*/


@media only screen and (max-width: 600px) {
    #painel #modal1{
        padding: 0;
        display: flex !important;
        flex-direction: column !important;
    }
    #painel .modal-content{
        margin: 0;
        padding: 15px;
    }
    #painel .modal-content p{
        font-size: 0.9rem;
        margin: 0;
    }
    #painel .modal-footer{
        width: 85%;
        align-self: center;
        margin: 0;
        padding: 0;
    }
    #painel .modal-close{
        align-self: center;
        margin-top: 15px;
    }

}