/* SOLIDARIEDADE === Início ===*/
#solidariedade *{
    font-size: 20px;
}
#solidariedade{
    margin: 10px;
}
#solidariedade .card{
    padding: 10px;
    margin-top: 10px;
    text-align: center;
    
}
#solidariedade .card .card-title{
    font-size: 1.1rem;
    font-weight: 500;
    padding: 10px;
}
#solidariedade .card .card-content{
    padding: 5px;
    margin-bottom: 10px;
}
#solidariedade .card-content p{
    font-size: 0.95rem;
    margin-bottom: 10px;
}
#solidariedade .card .card-image{
    margin: 10px;
}
#solidariedade .card .card-action{
    padding: 10px;
    border: none;
}
#solidariedade .card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
    margin: 0;
    color: grey;
    font-size: 1rem;
}
#solidariedade .card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating):hover{
    color: #F7B733;
}

#solidariedade .modal-content{
    width: 100%;
    padding: 15px;
    overflow: hidden;
}
#solidariedade .modal p{
    font-size: 1rem;
    margin: 0;
}
#solidariedade .modal-content form{
    width: 100%;
}
#solidariedade .modal-content form label{
    font-size: 1rem;
}
#solidariedade .modal-content form textarea{
    margin: 0;
    padding: 0;
}
#solidariedade .modal-footer .modal-close{
    font-size: 1.1rem;
}
#solidariedade .modal .input-field input[type=text]:focus + label {
    color: #212121;
}
#solidariedade .modal .input-field textarea:focus + label {
    color: #212121;
}
#solidariedade .modal .input-field input[type=text]:focus {
    border-bottom: 1px solid #F7B733;
    box-shadow: 0 1px 0 0 #9e9e9e  ;
}
#solidariedade .modal .input-field textarea:focus {
    border-bottom: 1px solid #F7B733;
    box-shadow: 0 1px 0 0 #9e9e9e  ;
}
#solidariedade .modal .btn{
    background-color: #F7B733;
}
#solidariedade .modal .file-field .file-path-wrapper input[type=text]:focus {
    border-bottom: 1px solid #F7B733;
    box-shadow: 0 1px 0 0 #9e9e9e  ;
}
#solidariedade .modal .modal-footer{
    font-size: 0.5rem !important;
    border: none;
}
/* SOLIDARIEDADE === Fim ===*/