#avisos .container-fluid{
    width: 100%;
}
#avisos .card h5{
    color: white;
    font-weight: 500;
}
#avisos .botaoanuncio{
    background-color: #F7B733;
}
#avisos .delete{
    background-color: #F7B733;
}
#avisos .file-field .btn{
    background-color: #F7B733;
}
#avisos .modal-footer{
    border: none;
    width: 90%;
}

/* inputs */
#avisos .modal-content .input-field input[type=text]:focus + label {
    color: #F7B733;
}
#avisos .modal-content .input-field textarea:focus + label {
    color: #F7B733;
}
#avisos .modal-content .input-field input[type=text]:focus {
    border-bottom: 1px solid #F7B733;
    box-shadow: 0 1px 0 0 rgb(230, 222, 222);
}
#avisos .modal-content .input-field textarea:focus {
    border-bottom: 1px solid #F7B733;
    box-shadow: 0 1px 0 0 rgb(230, 222, 222);
}
#avisos .modal-content .input-field input[type=text].valid {
    border-bottom: 1px solid #4ABDAC;
    box-shadow: 0 1px 0 0 rgb(209, 207, 207);
}
#avisos .modal-content .input-field input[type=text].invalid {
    border-bottom: 1px solid #FC4A1A;
    box-shadow: 0 1px 0 0 rgb(209, 207, 207);
}

@media only screen and (max-width: 600px) {


    #avisos{
        margin-bottom: auto;
    }
    #avisos .modal-content{
        padding: 15px;
        height: fit-content;
    }
    #avisos .cardsavisos .card .card-title{
        font-size: 1.2rem;
    }
    #avisos .cardsavisos .card .card-content{
        font-size: 1rem;
    }
}