/* AVISOS ===Início===*/
#avisos{
    margin: 30px 0;
}
#avisos .card{
    padding: 15px;
    margin: 0;
    margin-bottom: 20px;
}
#avisos .card .card-title{
    display: inline-block;
    text-align: center;
    font-weight: 500;
}
#avisos .card .card-content{
    padding: 0;
}
#avisos .avisodestaque .card-title{
    color: white;
    font-weight: 500;
}
#avisos .avisodestaque .card-content{
    color: white;
    padding: 0;
}
#avisos .avisoComImg .card-title{
    text-align: left;
    text-shadow: 1px 1px 1px grey;
    padding: 5px;
    font-weight: 500;
}
#avisos .avisoComImg .card-content{
    padding: 10px;
}
#avisos .botaoanuncio{
    background-color: #F7B733;
}
#avisos .modal-content{
    padding: 3vh 3vw;
}
#avisos .modal-content .input-field input[type=text]:focus + label {
    color: #F7B733;
}#avisos .modal-content .input-field textarea:focus + label {
    color: #F7B733;
}
#avisos .modal-content .input-field input[type=text]:focus {
    border-bottom: 1px solid #F7B733;
    box-shadow: 0 1px 0 0 rgb(230, 222, 222);
}#avisos .modal-content .input-field textarea:focus {
    border-bottom: 1px solid #F7B733;
    box-shadow: 0 1px 0 0 rgb(230, 222, 222);
}
#avisos .modal-content .input-field input[type=text].valid {
    border-bottom: 1px solid #4ABDAC;
    box-shadow: 0 1px 0 0 rgb(209, 207, 207);
}
#avisos .modal-content .input-field input[type=text].invalid {
    border-bottom: 1px solid #FC4A1A;
    box-shadow: 0 1px 0 0 rgb(209, 207, 207);
}
#avisos .file-field .btn{
    background-color: #F7B733;
}
#avisos .modal-footer{
    border: none;
}
/* AVISOS ===Fim===*/


@media only screen and (max-width: 600px) {


    #avisos{
        margin-bottom: auto;
    }
    #avisos .modal-content{
        padding: 15px;
        height: fit-content;
    }
    #avisos .cardsavisos .card .card-title{
        font-size: 1.2rem;
    }
    #avisos .cardsavisos .card .card-content{
        font-size: 1rem;
    }
}