#avisos .card-content {
    padding: 1vh 1vw;
}
#avisos .modal-trigger{
    background-color: #F7B733;
    margin-bottom: 5vh;
}
#avisos h5{
    font-size: 1.4rem;
    text-align: left;
    font-weight: 600;
    text-shadow: 1px 1px 3px grey;
}
#avisos .delete{
    background-color: #F7B733;
    
}
#avisos .file-field .btn{
    background-color: #F7B733;
}
#avisos .modal-footer{
    border: none;
    width: 90%;
}
/*Paula não apagar===inicio===*/
#avisos .card-action{
    width: 100%;
    border: none;
    position: absolute;
    bottom: 4px;
}
#avisos .card-action a{
    position: relative;
    bottom: 0px;
}
/*Paula não apagar===fim===*/

/* inputs */
#avisos #modal1{
    background-color: lightgrey;
}
#avisos #modal1 .btn{
    background-color: white;
}
#avisos #modal1 .btn i{
    color: grey;
}
#avisos #modal1 .modal-footer{
    background-color: lightgrey;
}
#avisos #modal1 input::placeholder{
    color: grey;
}
#avisos #modal1 textarea::placeholder{
    color: grey;
}
#avisos #modal1 .input-field label {
    color: grey;
    margin-bottom: 0.5vh;
}
#avisos #modal1 .inline label {
    color: grey;
    font-size: 1rem;
}
#avisos #modal1 .input-field input[type=text]:focus + label {
    color: grey;
    text-shadow: 0 1px 0 0 lightgrey;
  }
#avisos #modal1 .input-field input[type=text]:focus {
    border-bottom: 1px solid grey;
    box-shadow: 0 1px 0 0 lightgrey;
}
#avisos #modal1 .input-field input[type=number]:focus + label {
    color: grey;
    text-shadow: 0 1px 0 0 lightgrey;
  }
#avisos #modal1 .input-field input[type=number]:focus {
    border-bottom: 1px solid grey;
    box-shadow: 0 1px 0 0 lightgrey;
}
#avisos #modal1 .input-field textarea:focus + label {
    color: grey;
    text-shadow: 0 1px 0 0 lightgrey;
  }
#avisos #modal1 .input-field textarea:focus {
    border-bottom: 1px solid grey;
    box-shadow: 0 1px 0 0 lightgrey;
}


@media only screen and (max-width: 600px) {


    #avisos{
        margin-bottom: auto;
    }
    #avisos .modal-content{
        padding: 15px;
        height: fit-content;
    }
    #avisos .cardsavisos .card .card-title{
        font-size: 1.2rem;
    }
    #avisos .cardsavisos .card .card-content{
        font-size: 1rem;
    }
}