.mainform {
    height: 100vh;
}

.container {
    width: 100%;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.row .col {
    padding: 0px;
}

.imagem-login img {
    width: 100%;
}

.imagem-login img:last-child {
    display: none;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form img {
    width: 25%;
    margin-bottom: 30px;
}

#links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#links a p{
    color: rgb(72, 190, 174);
    margin-bottom: 0px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
   
}

form div {
    margin-left: 0px;
}

.center, .center-align {
    text-align: start;
}

.botaoform {
    margin-top: 20px;
}

@media (max-width: 992px){
    .imagem-login img:first-child {
        display: none;
    }

    .imagem-login img:last-child {
        display: block;
    }
}