/* CADASTRO/LOGIN === Início ===*/
#cadastro{
    background-color: rgb(72, 190, 174);
}
#cadastro .row{
    padding-top: 100px;
}

.mainform {
    margin-bottom: 120px;
}

.mainlogin {
    margin-bottom: 200px;
}

.botaoform{
    margin-top: 50px;
    background-color: #fc4813;
}

.select-dropdown {
    color: #d1d1d1;
}