#editAviso{
    width: 100%;
    margin: 2vh 4vw;
}
#editAviso h5{
    margin: 5vh 0;
    font-size: 1.5rem;
}
#editAviso input::placeholder{
    color: grey;
}
#editAviso textarea::placeholder{
    color: grey;
}
#editAviso .input-field{
    margin: 3vh 0;
}
#editAviso .file-field{
    margin: 3vh 0;
}
#editAviso .file-field .btn{
    background-color: #F7B733;
}
#editAviso .btn-floating{
    margin-top: 3vh;
    margin-bottom: 15vh;
}
#editAviso .btn-floating{
    background-color: #F7B733;
}