#editarUsuario{
    width: 100%;
    margin: 4vw;
    padding: 0;
}
.form-group{
    margin-top: 3vh;
}
.form-group select option{
    font-size: 0.9vw;
}
h3{
    padding-bottom: 2vh;
}
.file-field {
    margin-top: 2vh;
    margin-bottom: 2vh;
}
.file-field .btn {
    padding: 0;
    width: 4vw;
    height: 4vh;
}
.btn .material-icons{
    font-size: 1.1vw;
}
