#areasReservas{
    display: flex;
    flex-direction: column;
    padding: 3vh 5vw;
}
#areasReservas .carousel .carousel-item{
    height:50vh;
    width: 40%;
}
#areasReservas h3{
    font-size: 2rem;
}
#areasReservas .datepicker{
    width: 30vw;
}
#areasReservas .datepicker::placeholder{
    color: grey;
}
#areasReservas .btn-floating {
    margin-top: 2vh;
    margin-bottom: 4vh !important;
    background-color: #F7B733;
}
#areasReservas .card-title{
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0 1vw;
    padding: 2vh 1vw;
}
#areasReservas .card-content{
    text-align: left;
    margin: 0 1vw;
    padding: 1vh 1vw;
}
#areasReservas ol li{
    margin: 1.5vh 1vw;
}

@media only screen and (max-width: 600px) {

    #areasReservas .carousel .carousel-item{
        width: 80%;
        margin: 0;
        padding: 0;
    }
    #areasReservas .carousel{
        height: 35vh;
    }
    #areasReservas h3{
        margin: 0;
        font-size: 1.5rem;
    }
    #areasReservas ol li{
        margin: 2vh 2vw;
    }
    
}