#eventos{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}
#eventos .carousel-item{
    height: auto;
    padding-bottom: 5vh;
    background-color: gray;
}
#eventos .modal-trigger{
    background-color: #FC4A1A;
}
#eventos h4{
    font-size: 2vw;  
}
#eventos h5{
    font-size: 1.5vw;  
}
#eventos .carousel-item p{
    margin-top: 2vh;
    font-size: 1;
}
#eventos .carousel-item a{
    margin: 3vh;
}
#eventos .galeriaeventos .header{
    margin-bottom: 3vh;
}
#eventos .galeriaeventos .btnaddgaleria{
    margin-bottom: 3vh;
}
#eventos .carousel-item .confirmarbtn{
    background-color: #F7B733;
}
#eventos .carousel-item .edit{
    background-color: #F7B733;
}
#eventos .delete{
    background-color: #FC4A1A;
}
#eventos .galeriaeventos .btnaddgaleria{
    background-color: #FC4A1A;
}
#eventos .dropdown-trigger{
    background-color: #F7B733;
    margin-bottom: 20px;
}
#eventos .dropdown-content li a{
    color: grey !important;
}
#eventos .dropdown-content li a:hover{
    color: black !important;
    background-color: #F7B733;
}

@media only screen and (max-width: 600px) {

    #eventos .eventodestaque{
        height: fit-content;
    }
    #eventos .eventodestaque .header{
        font-size: 1.2rem;
    }
    #eventos .eventodestaque .card-image{
        height: cover;
    }
    #eventos .eventodestaque .card-title{
        font-size: 1.1rem;
    }
    #eventos .eventodestaque .card-content{
        height: fit-content;
    }
    #eventos .eventodestaque h6{
        font-size: 1rem;
    }
    #eventos .eventodestaque .card-content p{
        display: none;
    }
    #eventos .galeriaeventos h2{
        font-size: 1.2rem;
    }
}