#eventos{
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* CAROUSEL */
#eventos .carousel .indicators {
    position: fixed;
    margin-bottom: 1vh;
}
#eventos .carousel #imagem {
    size: cover;
    padding: 0;
}
#eventos .carousel{
    height: 150vh;
}
#eventos .carousel-item{
    height: auto;
    padding-bottom: 50px;
    background-color: gray;
}
#eventos .conteudo{
    margin: 1.5vh 1.5vw;
    padding: 1vh 1vw;
    background-color: rgba(190, 190, 190, 0.6);
    height: 300px;
}
#eventos h5{
    text-shadow: 1px 1px 3px grey;
    font-weight: 600;
    font-size: 2rem;
}
#eventos h6{
    text-shadow: 1px 1px 3px grey;
    font-weight: 500;
    font-size: 1.5rem;
}
#eventos p{
    text-shadow: 2px 2px 4px grey;
    font-size: 1.3rem;
    color: white;
}
#eventos .carousel-item p{
    margin-top: 20px;
    font-size: 1;
}
#eventos .carousel-item a{
    margin: 30px;
}
#eventos .galeriaeventos .header{
    margin-bottom: 30px;
}
#eventos .galeriaeventos .btnaddgaleria{
    margin-bottom: 30px;
}
#eventos .carousel-item .confirmarbtn{
    background-color: #F7B733;
}
#eventos .carousel-item .edit{
    background-color: #F7B733;
}
#eventos .delete{
    background-color: #FC4A1A;
}


/* MODAL CONFIRMAR PRESENÇA */
#eventos #modal2 {
    background-color: #F7B733;
}
#eventos #modal2 h5{
    text-shadow: none;
    font-weight: 600;
    font-size: 1.4rem;
}
#eventos #modal2 p{
    color: white;
    font-size: 1.2rem;
    margin-bottom: 0.5vh;
    text-shadow: none;
}
#eventos #modal2 .modal-footer{
    background-color: #F7B733;
}
/* inputs */
#eventos #modal2 input::placeholder{
    color: white;
}
#eventos #modal2 textarea::placeholder{
    color: white;
}
#eventos #modal2 .input-field label {
    color: white;
    font-size: 1.3rem;
    margin-bottom: 0.5vh;
}
#eventos #modal2 .inline label {
    color: white;
    font-size: 1rem;
}
#eventos #modal2 .input-field input[type=text]:focus + label {
    color: white;
    text-shadow: 0 1px 0 0 lightgrey;
  }
#eventos #modal2 .input-field input[type=text]:focus {
    border-bottom: 1px solid white;
    box-shadow: 0 1px 0 0 lightgrey;
}
#eventos #modal2 .input-field input[type=number]:focus + label {
    color: white;
    text-shadow: 0 1px 0 0 lightgrey;
  }
#eventos #modal2 .input-field input[type=number]:focus {
    border-bottom: 1px solid white;
    box-shadow: 0 1px 0 0 lightgrey;
}
#eventos #modal2 .input-field textarea:focus + label {
    color: white;
    text-shadow: 0 1px 0 0 lightgrey;
  }
#eventos #modal2 .input-field textarea:focus {
    border-bottom: 1px solid white;
    box-shadow: 0 1px 0 0 lightgrey;
}


/* MODAL ADD EVENTOS */
#eventos .modal-trigger{
    background-color: #FC4A1A;
}
#eventos #modal1 h5{
    text-shadow: none;
    font-weight: normal;
    font-size: 1.3rem;
    text-align: center;
}
#eventos #modal1 p{
    text-shadow: none;
    font-weight: normal;
    font-size: 1.1rem;
    text-align: left;
    color: grey;
}
#eventos #modal1 textarea::placeholder{
    color: grey;
}
#eventos #modal1 .file-path::placeholder{
    color: grey;
}

/* GALERIA FOTOS */
#eventos .galeriaeventos .header{
    margin-bottom: 3vh;
}
#eventos .galeriaeventos .btnaddgaleria{
    margin-bottom: 3vh;
}
#eventos .galeriaeventos .btnaddgaleria{
    background-color: #FC4A1A;
}
#eventos .dropdown-trigger{
    background-color: #F7B733;
    margin-bottom: 20px;
}
#eventos .dropdown-content li a{
    color: grey !important;
}
#eventos .dropdown-content li a:hover{
    color: black !important;
    background-color: #F7B733;
}


@media only screen and (max-width: 600px) {

    #eventos .eventodestaque{
        height: fit-content;
    }
    #eventos .eventodestaque .header{
        font-size: 1.2rem;
    }
    #eventos .eventodestaque .card-image{
        height: cover;
    }
    #eventos .eventodestaque .card-title{
        font-size: 1.1rem;
    }
    #eventos .eventodestaque .card-content{
        height: fit-content;
    }
    
    #eventos .eventodestaque .card-content p{
        display: none;
    }
    #eventos .galeriaeventos h2{
        font-size: 1.2rem;
    }
}