.imagem-login{
    background-image: url('../img/login1.jpg');
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center ;
}
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form img {
    width: 25%;
    margin-bottom: 5vh;
    margin-top: 10vh;
}
#links {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#links a p{
    color: rgb(72, 190, 174);
    margin-bottom: 0px;
}
.center, .center-align {
    text-align: start;
}
.botaoform {
    margin-top: 20px;
    margin-left: 33%;
}
.select-dropdown {
    color: grey;
}
#cadastro-conteiner input::placeholder{
    color: grey;
}

@media (max-width: 992px){
    .imagem-login{
        height: 300px;
        background-position: bottom;
    }
    #cadastro-conteiner{
        padding-top: 50px;
    }

    .imagem-login img:last-child {
        display: block;
    }

    .form img {
        width: 100px;
    }

    #img-login {
        margin-top: 0;
    }
}

@media (max-width: 480px){
    .imagem-login{
        height: 120px;
    }
}