/* RESERVAS ===Inicio===*/

#reservas .material-icons{
    background-color: #F7B733;
}

#reservas .card{

    border-radius: 20PX;
}
#reservas .card-title{
    font-size: 1.5rem;
    font-weight: 500;
    text-shadow: 1px 1px 1px black;
}
#reservas .card-content{
    padding: 10px;
    height: auto;
    font-size: 0.95rem;
}
#reservas .card-content a{
    background-color: #F7B733;
    margin-top: 15px;
    margin-bottom: 10px;
}
.espaco{
    transition: all 3s!important;
}
.invisivel{
    opacity: 0!important;
}


/* RESERVAS ===Fim===*/