#reservas{
    margin: 1vh 1vh;
} 
#reservas .card{
    border-radius: 0  0 5rem 5rem;
}
#reservas .card-title{
    font-size: 1.7rem;
    font-weight: 600;
    text-shadow: 1px 1px 1px black;
}
#reservas .card-content{
    padding: 10px;
    height: auto;
    font-size: 0.95rem;
}
#reservas .card-image{
    padding: 0;
    margin: 0;
}
#reservas .card-content a{
    background-color: #F7B733;
    margin-top: 15px;
    margin-bottom: 10px;
}
.espaco{
    transition: all 3s!important;
}
.invisivel{
    opacity: 0!important;
}
#reservas .btn-small{
    background-color: #FC4A1A;
}
#reservas .btn-floating {
    background-color: #FC4A1A;
}
#modal2 {
    background-color: #F7B733;
    color: white;
}
#modal2 .modal-footer{
    background-color: #F7B733;
    color: white;
}
#modal2 .ativo{
    border-radius: 0;
    padding: 1vh 1vw;
}
#modal2 h6{
    font-weight: 600;
    font-size: 1.3rem;
    padding-bottom: 1.5vh;
}
#modal2 .ativo span{
    font-weight: 600;
    font-size: 1.1rem;
}

/* MODAL ADD ÁREA */
#reservas #modal1{
    background-color: lightgrey;
}
#reservas #modal1 .btn{
    background-color: white;
}
#reservas #modal1 .btn i{
    color: grey;
}
#reservas #modal1 .modal-footer{
    background-color: lightgrey;
}
#reservas #modal1 input::placeholder{
    color: grey;
}
#reservas #modal1 textarea::placeholder{
    color: grey;
}
#reservas #modal1 .input-field label {
    color: grey;
    margin-bottom: 0.5vh;
}
#reservas #modal1 .inline label {
    color: grey;
    font-size: 1rem;
}
#reservas #modal1 .input-field input[type=text]:focus + label {
    color: grey;
    text-shadow: 0 1px 0 0 lightgrey;
  }
#reservas #modal1 .input-field input[type=text]:focus {
    border-bottom: 1px solid grey;
    box-shadow: 0 1px 0 0 lightgrey;
}
#reservas #modal1 .input-field input[type=number]:focus + label {
    color: grey;
    text-shadow: 0 1px 0 0 lightgrey;
  }
#reservas #modal1 .input-field input[type=number]:focus {
    border-bottom: 1px solid grey;
    box-shadow: 0 1px 0 0 lightgrey;
}
#reservas #modal1 .input-field textarea:focus + label {
    color: grey;
    text-shadow: 0 1px 0 0 lightgrey;
  }
#reservas #modal1 .input-field textarea:focus {
    border-bottom: 1px solid grey;
    box-shadow: 0 1px 0 0 lightgrey;
}