#reservas{
    height: 100vh;
    padding: 8vh 0vw;
    width: 100%;
} 
#reservas .card{
    border-radius: 0  0 5rem 5rem;
}
#reservas .card:last-child{
    margin-right: 0;
}
#reservas .espaco{
    padding: 0;
}
#reservas .card-title{
    font-size: 1.5rem;
    font-weight: 500;
    text-shadow: 1px 1px 1px black;
}
#reservas .card-content{
    padding: 10px;
    height: auto;
    font-size: 0.95rem;
}
#reservas .card-image{
    padding: 0;
    margin: 0;
}
#reservas .card-content a{
    background-color: #F7B733;
    margin-top: 15px;
    margin-bottom: 10px;
}
.espaco{
    transition: all 3s!important;
}
.invisivel{
    opacity: 0!important;
}
#reservas .btn-small{
    background-color: #F7B733;
}