#solidariedade{
    margin-top: 2vh;
}
#solidariedade .card-title{
    font-size: 1.6rem;
    font-weight: 600;
    text-shadow: 1px 1px 3px grey;
}
#solidariedade .card-content{
    font-size: 1rem;
    margin-top: 2vh;
    padding: 1vh 1vw;
}
#solidariedade .btn-floating{
    background-color: #FC4A1A;
}
#solidariedade .edit{
    margin-right: 50px;
    background-color: red;
    
}
#solidariedade .delete{
    background-color: red;
}
#solidariedade #botaoanuncio{
    background-color: #F7B733;
}
/* MODAL */
#solidariedade .file-field .btn{
    background-color: #F7B733;
}
#solidariedade .modal-footer{
    width: 97%;
   border: none;
}

/* === CORES INPUTS === */
.modal-content .input-field input[type=text]:focus + label {
    color: grey;
}
.modal-content .input-field textarea:focus + label {
    color: grey;
}
.modal-content .input-field input[type=text]:focus {
    border-bottom: 1px solid grey;
    box-shadow:0 1px 0 0 rgb(209, 207, 207);
}
.modal-content .input-field textarea:focus {
    border-bottom: 1px solid grey;
    box-shadow:0 1px 0 0 rgb(209, 207, 207);
}
.modal-content .input-field input[type=text].valid {
    border-bottom: 1px solid #F7B733;
    box-shadow:0 1px 0 0 rgb(209, 207, 207);
}
.modal-content .input-field textarea.valid {
    border-bottom: 1px solid #F7B733;
    box-shadow:0 1px 0 0 rgb(209, 207, 207);
}