#solidariedade .card{
    height: 70vh;
}
#solidariedade .card-title{
    font-size: 1.3vw;
    font-weight: 600;
    text-shadow: 1px 1px 3px grey;
}
#solidariedade .card-content{
    width: 100%;
    font-size: 0.9vw;
    margin-top: 1vh;
    padding: 1vh 0.5vw;
}
#solidariedade .btn-floating{
    background-color: #FC4A1A;
}
#solidariedade .edit{
    background-color: red;
    right: 4.5vw;
}
#solidariedade .delete{
    background-color: red;
}
#solidariedade #botaoanuncio{
    background-color: #F7B733;
}
/* MODAL */
#solidariedade .file-field .btn{
    background-color: #F7B733;
}
#solidariedade .modal-footer{
    width: 97%;
    border: none;
<<<<<<< Updated upstream
<<<<<<< Updated upstream
    overflow: hidden;
=======
=======
>>>>>>> Stashed changes
}

@media only screen and (max-width: 600px) {

    #solidariedade .card-title{
        font-size: 15pt;
        text-align: center;
    }

    .card-content p{
        text-align: center;
        font-size: 13pt;
    }
<<<<<<< Updated upstream
>>>>>>> Stashed changes
=======
>>>>>>> Stashed changes
}